@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #3d3d3d;
}
.flex {
  display: flex;
}

.content-start {
  justify-content: start;
  align-items: flex-start;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.space {
  justify-content: space-between;
  align-items: flex-start;
}

body {
  background-image: url("assets/images/bgImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.align-center {
  align-items: center;
}

.top-row {
  padding: 20px;
  padding-left:3%;
  height: 50px;
  gap:150px;
}

.title-phrase {
  font-weight: 200;
  font-size: 28px;
  color: var(--text-color);
  margin-top: 5px;
  width: max-content;
  padding-left: 10%;
  gap: 10px;
}

.word {
  background: linear-gradient(
    87.99deg,
    #a59fc3 -42.33%,
    #542b81 0.06%,
    #dc379f 59.22%,
    #f3a199 101.61%,
    #faf6e8 139.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  padding-left: 3%;
  width: 10%;
}

.video-card {
  flex-direction: column;
}
.video-wrapper {
  display: inline-block;
}

.image-video {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
}

.video-label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: var(--text-color);
}

.play-icon {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  opacity: 0.85;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}
.play-icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}

.right-panel {
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.qr-card {
  background-color: #f9e7e7;
  padding: 10px 90px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.qr-image {
  width: 250px;
  height: 250px;
}

.create-text {
  font-size: 30px;
  font-weight: 100;
  color: var(--text-color);
  margin-top: 0px;
}

.lang-buttons {
  gap: 16px;
  margin-top: 50px;
  background-color: white;
  padding:8px;
  border-radius: 25px;
}

.lang-btn {
  font-size: 14px;
  padding: 8px 12px;
}
.lang-buttons input[type="radio"] {
  display: none;
}

.lang-btn {
  border: none;
  border-radius: 25px;
  padding: 10px 17px;
  font-size: 17px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.66);
  transition: all 0.3s ease;
}

.lang-buttons input[type="radio"]:checked + .lang-btn {
  background: linear-gradient(
    92.81deg,
    #a59fc3 -82.63%,
    #542b81 -36.76%,
    #dc379f 27.24%,
    #f3a199 73.1%,
    #faf6e8 113.63%
  );
  color: white;
}
.main-name {
  width: 200px;
}

.vertical-line {
  top: 0;
  bottom: 0;
  right: 40%;
  width: 1px;
  background-color: #d3b3d3;
  z-index: 10;
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 55%;
  }

  .gallery .image-video {
    width: 100%;
  }

  .play-icon {
    width: 60px;
    height: 60px;
  }

  .right-panel {
    width: 100%;
    gap: 10px;
  }

  .qr-card {
    padding: 80px 20px 20px 80px;
    border-radius: 16px;
  }

  .qr-image {
    width: 180px;
    height: 180px;
  }

  .create-text {
    font-size: 24px;
    min-width: max-content;
  }

  .lang-buttons {
    gap: 10px;
    padding: 6px 12px;
    margin-top: 30px;
  }

  .lang-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .vertical-line {
    right: 37%;
  }
  .pt-phrase {
    font-size: 23px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 50%;
    min-width: 300px;
    margin-top: 30px;
  }
  .en-phrase {
    font-size: 20px;
  }

  .pt-phrase {
    font-size: 20px;
  }
  .title-phrase {
    max-width: 80%;
  }

  .gallery .image-video {
    width: 100%;
  }

  .play-icon {
    width: 60px;
    height: 60px;
  }

  .right-panel {
    width: 99%;
    gap: 10px;
    padding: 0;
  }
  .gallery-title {
    width: 60%;
  }
  .top-row {
    padding: 20px;
    padding-left: 0;
    height: 50px;
  }

  .qr-card {
    padding: 20px 10px;
    border-radius: 16px;
  }

  .qr-image {
    width: 180px;
    height: 180px;
  }

  .create-text {
    font-size: 20px;
    min-width: max-content;
  }

  .lang-buttons {
    gap: 10px;
    padding: 6px 12px;
    margin-top: 30px;
    min-width: max-content;
  }

  .lang-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .vertical-line {
    right: 42%;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    width: 40%;
    min-width: 10px;
    margin-top: 100px;
  }
  .en-phrase {
    font-size: 20px;
  }

  .pt-phrase {
    font-size: 20px;
  }
  .title-phrase {
    max-width: 80%;
    padding-left: 3%;
  }

  .gallery .image-video {
    width: 100%;
  }

  .play-icon {
    width: 60px;
    height: 60px;
  }

  .right-panel {
    width: 30%;
    gap: 10px;
    padding: 0;
  }
  .gallery-title {
    width: 60%;
  }
  .top-row {
    padding: 20px;
    padding-left: 0;
    height: 50px;
  }

  .qr-card {
    padding: 20px 10px;
    border-radius: 16px;
  }

  .qr-image {
    width: 180px;
    height: 180px;
  }

  .create-text {
    font-size: 16px;
    min-width: max-content;
  }

  .lang-buttons {
    gap: 10px;
    padding: 2px;
    margin-top: 30px;
    min-width: max-content;
  }

  .lang-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .vertical-line {
    right: 53%;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    width: 30%;
    min-width: 10px;
    margin-top: 120px;
  }
  .en-phrase {
    font-size: 20px;
  }

  .pt-phrase {
    font-size: 20px;
  }
  .title-phrase {
    max-width: 60%;
    padding-left: 3%;
  }

  .gallery .image-video {
    width: 100%;
  }

  .play-icon {
    width: 60px;
    height: 60px;
  }

  .right-panel {
    width: 30%;
    gap: 10px;
    padding: 0;
    z-index: 1001;
  }
  .gallery-title {
    width: 60%;
  }
  .top-row {
    padding: 20px;
    padding-left: 0;
    height: 50px;
  }

  .qr-card {
    padding: 20px 10px;
    border-radius: 16px;
  }

  .qr-image {
    width: 180px;
    height: 180px;
  }

  .create-text {
    font-size: 16px;
    min-width: max-content;
  }

  .vertical-line {
    right: 53%;
  }
}

.video-card.active .image-video {
  border: 3px solid #c37be4;
}
